@charset "utf-8";

/*
   Important Notice of 'nehan-' prefix classes.

   You can't define 'sizing' value that affect 'size' of target in css class starts with 'nehan-' prefix.
   Because in nehan.js, all the layouting values associated with box sizes are under control of nehan layout engine.
   So you can define only color, font-family or some styles that doesn't affect size of box in classes started with 'nehan-' prefix.
 */

/* reset */
div, span{
  vertical-align:baseline;
  font-size:100%;
  margin:0;
  padding:0;
  border:0;
}
.nehan-text-line{
  overflow:visible;
}
.nehan-text-line-vert a,
.nehan-text-line-vert a:hover{
  text-decoration:none !important;
}
.nehan-body a{
  word-wrap:normal !important;
}
.nehan-vert-glyph{
  -webkit-writing-mode:vertical-rl;
  writing-mode:vertical-rl;
}
.nehan-rotate-90{
  word-break:normal;
  overflow:visible;
  -webkit-transform : rotate(90deg);
  -webkit-transform-origin : 50% 50%;
  -moz-transform : rotate(90deg);
  -moz-transform-origin : 50% 50%;
  -o-transform : rotate(90deg);
  -o-transform-origin : 50% 50%;
  transform : rotate(90deg);
  transform-origin : 50% 50%;
}
.nehan-vert-ie{
  writing-mode:tb-rl;
  float:left;
}
