body{
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  margin:1em 2em;
}
textarea{
  margin-bottom:1em;
}
.container{
  width: 980px;
}
.main{
  width:740px;
  float:left;
}
hr.space {background:#fff;color:#fff;visibility:hidden;}
#menu{
  float:left;
  width:190px;
  margin-right:10px;
  list-style:none;
}
#menu a{
  display:block;
  width:190px;
  height:1.2em;
}
#menu a.clicked{
  font-weight:bold;
  color:red;
}
#menu li:hover{
  background-color:wheat;
}
#source{
  width:700px;
  height:150px;
}
#hori-result, #vert-result{
  overflow:hidden;
  float:left;
  width:360px;
}
.nehan-body{
  overflow:hidden;
  background-color:pink;
}
.nehan-figure{
  background-color:#8ae;
}
.nehan-p{
  background-color:#d1de4c;
}
.nehan-fieldset{
  background-color:wheat;
}
.nehan-blockquote{
  background-color:skyblue;
}
.nehan-ibox{
  background-color:yellow;
}
.nehan-ipage{
  background-color:orange;
}
.nehan-ul, .nehan-dl, .nehan-ol{
  background-color:lightsteelblue;
}
